.course_classify{
	width: 100%;
	background-color: #fff;
}
.course_classify .classify_auto{
	width: 90%;
	margin: 0 auto;

}
.classify_auto .one_classification{
	width: 100%;
	padding: 10px 0;
	border-bottom: 1px solid #ccc;
	line-height: 35px;
}
.classify_auto ul{
	width: 92%;
	float: right;
}
.classify_auto .ul_tltle{
	width: 8%;
	float: left;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
}
.classify_auto ul li{
	float: left;
	font-size: 14px;
	margin: 5px 10px;
}
.classify_auto ul li a{
	display: inline-block;
	padding: 0 8px;
}
.classify_auto ul li a:hover{
	color: red;
}
.classify_auto ul .active a{
	background-color: rgb(46,51,63);
	color: red;
}
.classify_auto ul li a{
	color: #000;
}

.display_course{
	width: 90%;
	margin: 20px auto;
}

