.course_header{
	width: 100%;
	margin:3px 0 10px 0;
	background-color: rgb(46,51,63);
	color: #fff;
	box-shadow: 0 3px 7px 0 rgba(7,17,27,.2); 
}
.course_header .in_auto{
	width: 90%;
	height: 150px;
	margin: 0 auto;
	
}
.in_auto h1{
	margin: 0 20px 0 30px;
	float: left;	
	line-height: 120px;
}
.in_auto .author,.cou_score{
	float: left;
	margin-top: 90px;

}
.in_auto .cou_score{
	margin-left: 50px;
}
.cou_score .c_score,.author a{
	font-size: 20px;
	padding: 0 10px;
}
.author a:hover{
	color: red;
}
.study_state{
	float: right;
	margin-top: 55px; 
}
.study_state span{
	display: inline-block;
	width: 100px;
	height: 46px;
	background-color: red;
	text-align: center;
	line-height: 46px;
	font-weight: bold;
	border-radius: 5px;
	margin-right: 30px;
}
.study_state span a{
	display: inline-block;
}

/*内容*/
.course_content{
	width: 90%;
	margin: 0 auto;
	background: #fff;
	color: #4D555D;
}
.course_content .cou_content_l{
	float: left;
	width: 70%;
}
.course_content .cou_outer{
	width: 90%;
	margin: 0 auto;
	border-bottom: 1px solid #ccc;
	padding: 10px 0;
}
.course_content .cou_summary{
	width: 100%;
	line-height: 30px;
	margin: 10px 0 20px 0;
}
.cou_menu a{
	color: #4D555D;
	font-weight: bolder;
	font-size: 18px;
	display: inline-block;
}
.cou_menu a:hover{
	color: red;
}
.cou_menu li{
	float: left;
	margin-right: 60px;
	line-height: 35px;
}
.cou_outer h4,.cou_content_r h4{
	color: #000;
	line-height: 50px;
}
.chapter{
	width: 90%;
	margin: 0 auto;
}
.chapter li{
	background-color: #F3F5F7;
	line-height: 40px;
	margin: 8px 0;
}
.chapter a{
	color: #4D555D; 
	display: inline-block;
	width: 96%;
	padding: 0 2%;
}
.chapter a:hover{
	background-color: #2B333B;
	color: #fff;
}
.cou_content_r{
	padding: 10px 2%;
	float: left;
	width: 26%;
}
.cou_content_r .cou_ready{
	margin-bottom: 30px;
	line-height: 28px;
}
