/*login register*/
.login_header{
	width: 100%;
	height: 85px;
	background-color:#606060;
	overflow: hidden;
}
.comWidth,.loginBox{
	width: 33%;
	margin: 0 auto;
}
.comWidth a{
	font:28px/85px "Microsoft YaHei", "微软雅黑"; 
	letter-spacing:5px;
	color:#FFF; 
	float:left; 
	padding-left:24px;
}
.comWidth h3{
	font:22px/85px "Microsoft YaHei", "微软雅黑"; 
	letter-spacing:4px;
	color:#FFF; 
	float:left; 
	padding-left:60px;
}
.loginBox{
	position: relative;
	margin-top: 10px;
	border: 1px solid #000;
}
.loginCont{
	width: 65%;
	margin: 10px auto;
	padding: 15px 0;
}
.l_tit{
	color:#666; line-height:20px;
}
.login_input,.login_input1{
	box-sizing:border-box;
	border:#999 solid 1px; 
	height:32px;
	line-height:32px;
	text-indent:5px;
	width:100%;
}
.user_icon{
	background:url(../images/icon/user_icon.jpg) right center no-repeat;
}
.login_input1{
	width: 50%;
}
.mb_10,.mb_10_position{
	margin-bottom: 10px;
}
.mb_10_position{
	position: relative;
}
#verifyimg{
	border: 1px solid #000;
	width: 100px;
	height: 32px;
}
#verify_a{
	display: inline-block;
	width: 102px;
	height: 34px;
	position: absolute;
	top: 0; 
	left:60%;
}
#login_error{
	height: 30px;
	line-height: 30px;
	font-size: 16px;
	color: red;
	font-weight: bold;
}
.login_btn{
	width: 100%;
	height: 30px;
	text-align: center;
	background-color: #E2E2E9;
	margin-top: 20px;
	border-radius: 8px;
	font: 15px/30px "Microsoft YaHei", "微软雅黑";
	color: #777;
	font-weight: bold;
	cursor:pointer;
}
.checked{
	position: relative;
	top: 3px;
	margin-right: 5px;
}
.reg_link{
	position: absolute;
	right: 31px;
	bottom: -31px;
	width: 80px;
	height: 30px;
	background-color: #7CBE56;
	text-align: center; 
	font: 15px/30px "Microsoft YaHei", "微软雅黑";
	color: #fff;
}

.login_footer{
	margin-top: 50px;
	width: 100%;
	height: 88px;
	background-color: #ccc;
	text-align: center;
	padding: 20px 0 20px;
}
.login_footer p{
	line-height: 30px;
	font-size:14px;
}

