.nav_left{
	float: left;
	height: 60px;
}
.nav_left .goback{
	width: 80px;
	height: 60px;
	float: left;
	background: url(../img/icon/goback.png) 30px center no-repeat;
}
.nav_left .goback a{
	display: block;
	height: 60px;
}
.nav_left .this_chapter{
	float: left;

}
.nav_left .this_chapter h4{
	float: left;
	line-height: 60px;
	color: #B5B9BC;
	margin: 0 20px;
}
.nav_left .this_chapter span{
	color: #B5B9BC;
	font-size: 14px;
	line-height: 60px;
}

.video_outer{
	width: 100%;
	background-color: #000;
	position: relative;
}
.video{
	width: 1000px;
	margin:0 auto;
}
.video_outer video{
	width: 1000px;
}

.vleft,.vright{
	height: 50px;
	width: 50px;
	position: absolute;
}
.vleft a,.vright a{
	display: block;
	height: 50px;
}
.vleft{
	top: 200px;
	left: 0px;
	background: url(../img/icon/vleft.png) left center no-repeat;
}
.vright{
	top: 200px;
	right:0;
	background: url(../img/icon/vright.png) left center no-repeat;
}

.course_main .cou_outer{
	padding: 20px 0;
}
.cou_outer{
	width: 90%;
	margin: 0 auto;
	border-bottom: 1px solid #ccc;
	padding: 10px 0;
}
.cou_outer textarea{
	display: block;
	width: 86%;
	height: 90px;
	border: 1px solid #ccc;
	border-radius: 8px;
	padding: 10px 2%;
	line-height: 30px;
	font-size: 16px; 
	margin: 0 auto;
	color: #B5B9BC;
	font-weight: bold;
}
.cou_outer input{
	display: block;
	border: 1px solid #ccc;
	padding: 8px 15px;
	float: right; 
	margin: 15px 40px 0 0;
	font-size: 14px;
	border-radius: 8px;
	cursor: pointer;
}
.cou_outer .user_header{
	border: 1px solid #ccc;
	width: 50px;
	height: 50px;
	border-radius: 25px;
	float: left;
}
.cou_outer .comment_content{
	width: 90%;
	float: left;
	margin-left: 20px;
	line-height: 25px;
}
.comment_content .content{
	float: left;
	width: 100%;
	margin: 10px 0 20px;
}
.comment_content .pub_time{
	display: inline-block;
	float: left;
	font-size: 14px;
	color: #B5B9BC;
}
.comment_content .good{
	height: 25px;
	float: right;
	padding-left: 25px;
	font-size: 14px;
	color: #B5B9BC;
	background: url(../img/icon/good.png) left center no-repeat;
}
